.catalog-item__header {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
}

.catalog-item__description {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-grey-medium;
  font-size: 13px;
}

.catalog-item__buy-block {
  display: flex;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-grey-medium;
}

.catalog-item__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
}
