.form-main__header {
  padding: 75px 30px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  background-color: $color-grey-medium;
}

.form-main__summary {
  margin: 0;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 26px;
}
