.main-about {
  padding: 30px;
  margin-bottom: 20px;
}

.main-about__header {
  margin-bottom: 30px;
}

.main-about__list {
  padding: 0;
  list-style: none;
}

.main-about__item {
  padding-top: 20px;
  font-size: 17px;
  font-weight: bold;
}
