.main-modal {
  position: absolute;
  top: 0;
  padding-top: 35px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  border-top: 1px solid $color-grey-dark;
  boredr-bottom: 1px solid $color-grey-dark;
  box-shadow: 0 10px 5px -4px #666666;
}

.main-modal__wrapper {
  width: 260px;
  margin: 0 auto;
}

.main-modal__header {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  width: 150px;
  text-align: center;
}

.main-modal__summary {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.main-modal__size-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.main-modal__size-button {
  min-width: 80px;
  height: 50px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 2px solid $color-grey-medium;
}

.main-modal__size-button--current {
  border-color: $color-green-medium;
}

.main-modal__add-to-cart {
  margin: 0 auto;
}
