.main-nav__toggle {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  right: 0;
  top: 29px;
}

.main-nav__search-form {
  display: block;
  padding: 22px 45px;
  border-top: 1px solid #000000;
}

.main-nav__search {
  width: 160px;
  border: none;
  background-color: #ffffff;
}

.main-nav__cart {
  display: block;
  padding: 22px 45px;
  border-top: 1px solid #000000;
}

.main-nav__wrapper {

}
