.main-nav__toggle {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  right: 30px;
  top: 29px;
  background-image: url("../../img/icon-menu-close.svg");
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.main-nav__item {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 75px;
  border-top: 1px solid $color-grey-medium;
  font-size: 17px;
  font-weight: bold;
}

.main-nav__item-icon {
  position: absolute;
  left: 30px;
}

.main-nav__search-form {
  position: relative;
  display: block;
}

.main-nav__search {
  width: 180px;
  border: none;
  background-color: #ffffff;
}

.main-nav__search::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.main-nav__cart {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.main-nav__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    margin-top: 20px;
    position: absolute;
    display: flex;
    width: 330px;
    top: 90px;
    left: 30px;
  }
  .main-nav__item {
    border: none;
  }
  .main-nav__item--menu {
    padding: 0;
    margin-right: 30px;
     font-size: 15px;
     flex-basis: 150px;
  }
  .main-nav__cart-block {
    position: relative;
  }
  .main-nav__search-and-cart {
    width: 399px;
    display: flex;
  }
  .main-nav__search-form {
    margin: 0;
    padding: 35px 35px;
    flex-basis: 85px;
    height: 90px;
    border-left: 1px solid $color-grey-medium;
    border-right: 1px solid $color-grey-medium;
  }
  .main-nav__search {
    display: none;
  }
  .main-nav__cart {
    flex-basis: 314px;
  }
  .main-nav__delivery {
    position: absolute;
    display: inline-block;
    top: 95px;
    right: 30px;
    font-size: 15px;
  }
}
