.main-header__wrapper {
  width: 260px;
  margin: 0 auto;
}

.main-header__slogan {
  height: 100px;
  padding-top: 80px;
  padding-bottom: 120px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.main-header__slogan-text {
  width: 245px;
  margin: 0 auto;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
}

.main-header__item {
  position: relative;
}

.main-header__item:first-of-type {
  background-color: $color-green-light;
}

.main-header__item:last-of-type {
  background-color: $color-green-medium;
}

.main-header__item-link {
  display: block;
  padding: 30px;
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

.main-header__item-icon {
  position: absolute;
  top: 20px;

  &--interior {
    right: 35px;
  }

  &--toy {
    right: 25px;
  }
}
