.page-header {
  margin: 0 auto;
  position: relative;
  border-top: 1px solid $color-grey-medium;
  border-bottom: 1px solid $color-grey-medium;
}

.page-header__logo-block {
  padding-top: 20px;
  min-height: 80px;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 35px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
  }
  .page-header__logo-block {
    width: 369px;
    border-top: none;
  }
}
