.product {
  padding: 25px 30px;
}

.product__wrapper {
  width: 260px;
  margin: 0 auto;
}

.product__header {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.product__special {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-green-medium;
}

.product__summary {
  font-size: 15px;
  line-height: 25px;
  color: $color-grey-dark;
}

.product__table {
  margin-bottom: 30px;
  width: 260px;
}

.product__table tr {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid $color-grey-light;
}

.product__parametr {
  width: 95px;
}

.product__price {
  padding: 20px;
  text-align: center;
}

.product__order {
  margin: 0 auto;
  color: $color-grey-dark;
}
