.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: block;
  margin: 0;
  padding: 22px 45px;
  list-style: none;
  border-top: 1px solid $color-grey-medium;
}
.site-list__item a {
  padding-left: 25px;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
