// ШРИФТ

$font-basic: OpenSans, sans-serif;

// ЦВЕТА

$background-main-color: #ffffff;

$color-green-light: #63d1bb;
$color-green-medium: #56c3b2;
$color-green-dark: #35a999;

$color-grey-light: #000000; // f1f1f1
$color-grey-medium: #ececec;
$color-grey-dark: #444444;

$text-color-black: #000000;
$text-color-green: #63d1bb;
$text-color-light-grey: #f1f1f1;
$text-color-dark-grey: #444444;
